.web-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
}

.web-home-header {
    text-align: center;
    font-family: 'Darkmode';
    color: #7C0A02;
    font-size: 144px;
}

.web-home-p {
    text-align: center;
    color: #7C0A02;
    font-size: 20px;
}

.user-home-page-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.web-home-authenticate {
    font-family: "Darkmode";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 45px;
    color: black;
    background-color: #7C0A02;
    border-radius: 0px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 70px;
}